html
{
    font-family: sans-serif;
    color: black;
    background: white;
    margin: 0px;
    padding: 0px;
}

body
{
    color: black;
    background: white;
    margin: 0px;
    padding: 0px;
}

a:link
{
    color: blue;
    text-decoration: underline;
}

a:visited
{
    color: blue;
    text-decoration: underline;
}

div.header
{
    background: orange;
    border-bottom: solid 1px black;
    padding: 0.4em;
}

div.header-links a
{
    margin: 0.2em;
}

div.pagination
{
    margin: 0.4em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.object-listing
{
    display: flex;
    flex-flow: row wrap;
    flex: none;
}

h2.object-listing-group
{
    width: 100%;
    flex-basis: 100%;
    border-bottom: solid 1px black;
    padding: 0.2em;
    margin-bottom: 0.4em;
}

div.object-listing-entry
{
    width: 150px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 150px;
}

div.object-listing-thumbnail
{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.object-listing-title
{
    width: 150px;
    font-size: smaller;
    text-align: center;
}

.details-table
{
    border-collapse: collapse;
    margin: 0.4em;
    padding: none;
}

.details-table th
{
    font-weight: bolder;
    text-align: left;
    background: cornflowerblue;
    border: solid 1px black;
    padding: 0.4em;
}

.details-table td
{
    border: solid 1px black;
    padding: 0.4em;
}