html
{
    font-family: sans-serif;
    color: black;
    background: white;
    margin: 0px;
    padding: 0px;
}

body
{
    color: black;
    background: white;
    margin: 0px;
    padding: 0px;
}

a:link
{
    color: blue;
    text-decoration: underline;
}

a:visited
{
    color: blue;
    text-decoration: underline;
}

div.header
{
    background: orange;
    border-bottom: solid 1px black;
    padding: 0.4em;
}

div.header-links a
{
    margin: 0.4em;
    padding: 0.4em;
    color: black;
}

div.header-links a:hover
{
    background-color: orangered;
    color: white;
}

.header-link-selected
{
    border: 1px solid black;
    background-color: orangered;
    color: white !important;
}

div.header-links form
{
    margin: 0.4em;
    padding: 0.4em;
    display: inline;
}

div.pagination
{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    background-color: lightgrey;
}

div.pagination-top
{
    border-bottom: solid 1px black;
}

div.pagination-bottom
{
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}

div.pagination a
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0.4em;
    color: black;
}

div.pagination a:hover
{
    background-color: slategrey;
    color: white !important;
}

.pagination-link
{
    flex-basis: auto;
}

.pagination-elipsis
{
    flex-basis: auto;
    flex-grow: 100;
    padding: 0.4em;
    text-align: center;
}

.pagination-summary
{
    flex-basis: auto;
    flex-grow: 100;
    padding: 0.4em;
    text-align: right;
}

.pagination-selected
{
    background-color: slategrey;
    color: white !important;
}

div.object-listing
{
    display: flex;
    flex-flow: row wrap;
    flex: none;
}

h2.object-listing-group
{
    width: 100%;
    flex-basis: 100%;
    border-bottom: solid 1px black;
    padding: 0.2em;
    margin-bottom: 0.4em;
}

div.object-listing-entry
{
    width: 150px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 150px;
}

div.object-listing-thumbnail
{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.object-listing-title
{
    width: 150px;
    font-size: smaller;
    text-align: center;
}

.details-table
{
    border-collapse: collapse;
    margin: 0.4em;
    padding: none;
}

.details-table th
{
    font-weight: bolder;
    text-align: left;
    background: cornflowerblue;
    border: solid 1px black;
    padding: 0.4em;
}

.details-table td
{
    border: solid 1px black;
    padding: 0.4em;
}

.details-table-header-right
{
    float: right;
}

.details-table-header-right a
{
    color: black;
}

.tag
{
    background-color: plum;
    border: solid 1px rebeccapurple;
    border-radius: 0.6em;
    padding: 0.3em;
    margin: 0.3em;
    color: black !important;
    display: inline-block;
}

svg.icon-16
{
    vertical-align: text-bottom;
    padding: 2px;
}

svg.icon-32
{
    vertical-align: text-bottom;
    padding: 4px;
}
