html
{
    font-family: sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: black;
    background: white;
    margin: 0px;
    padding: 0px;
}

body
{
    color: black;
    background: white;
    margin: 0px;
    padding: 0px;
}

h1
{
    font-weight: bold;
    font-size: 32px;
}

h2
{
    font-weight: bold;
    font-size: 24px;
}

h3
{
    font-weight: bold;
    font-size: 20px;
    margin-top: 0.5em;
    margin-bottom: 0.1em;
}

label
{
    font-weight: bold;
    font-size: 20px;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.1em;
}

a:link
{
    color: blue;
    text-decoration: underline;
}

a:visited
{
    color: blue;
    text-decoration: underline;
}

blockquote
{
    background: #F9F9F9;
    border-left: 10px solid #CCC;
    margin: 1.5em 10px;
    padding: 1em 10px .1em 10px;
}

div.header
{
    background: orange;
    border-bottom: solid 1px black;
    padding: 0.4em;
}

div.header-links a
{
    margin: 0.4em;
    padding: 0.4em;
    color: black;
}

div.header-links a:hover
{
    background-color: orangered;
    color: white;
}

.header-link-selected
{
    border: 1px solid black;
    background-color: orangered;
    color: white !important;
}

div.header-links form
{
    margin: 0.4em;
    padding: 0.4em;
    display: inline;
}

div.cmdbar
{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    background-color: lightgrey;
}

div.cmdbar-top
{
    border-bottom: solid 1px black;
}

div.cmdbar-bottom
{
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    margin-top: 0.6em;
}

div.cmdbar a
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0.4em;
    color: black;
}

div.cmdbar a.not-saved
{
    background-color: red;
    color: white;
}

div.cmdbar a:hover
{
    background-color: slategrey;
    color: white !important;
}

.cmdbar-link
{
    flex-basis: auto;
}

.cmdbar-elipsis
{
    flex-basis: auto;
    flex-grow: 100;
    padding: 0.4em;
    text-align: center;
}

.cmdbar-summary
{
    flex-basis: auto;
    flex-grow: 100;
    padding: 0.4em;
    text-align: right;
}

.cmdbar-selected
{
    background-color: slategrey;
    color: white !important;
}

div.object-listing
{
    display: flex;
    flex-flow: row wrap;
    flex: none;
}

h2.object-listing-group
{
    width: 100%;
    flex-basis: 100%;
    border-bottom: solid 1px black;
    padding: 0.2em;
    margin-bottom: 0.4em;
}

div.object-listing-tags
{
    width: 100%;
    flex-basis: 100%;
}

div.object-listing-entry
{
    width: 150px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 150px;
}

div.object-listing-selected
{
    background-color: orange;
}

div.object-listing-thumbnail
{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.object-listing-icons
{
    color: white;
    z-index: 1;
    position: absolute;
    text-align: right;
    font-weight: bold;
    padding: 0.2em;
    box-sizing: border-box;
    text-shadow: 0px 0px 3px black;
}

div.object-listing-title
{
    width: 150px;
    font-size: smaller;
    text-align: center;
}

table
{
    border-collapse: collapse;
    margin: 0.4em;
    padding: none;
}

td, th
{
    vertical-align: top;
}

.details-table th
{
    font-weight: bolder;
    text-align: left;
    background: cornflowerblue;
    border: solid 1px black;
    padding: 0.4em;
}

.details-table td
{
    border: solid 1px black;
    padding: 0.4em;
}

i.icon-16
{
    vertical-align: text-bottom;
    padding: 2px;
    font-size: 16px;
}

i.icon-32
{
    vertical-align: text-bottom;
    padding: 4px;
    font-size: 32px;
}

span.icon-16
{
    font-size: 16px;
}

span.icon-32
{
    font-size: 32px;
}

div.combo-list
{
    margin: 0.1em;
}

a.combo-item
{
    margin: 0.25em;
    padding: 0.5em;
    display: inline-block;
    font-size: smaller;
    text-align: center;
    text-decoration: none;
    color: black !important;
    border: solid 2px transparent;
}

a.combo-selected
{
    background-color: cornflowerblue;
    border: solid 2px black !important;
}

a.combo-item:hover
{
    background-color: cornflowerblue;
}

div.combo-icon
{
    padding: 8px;
}

a.rating-yellow i
{
    color: gold !important;
}

div.horiz-columns
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

div.horiz-columns > div
{
    margin-left: 0.2em;
    padding-left: 0.4em;
    border-left: solid 2px black;
    margin-right: 0em;
    padding-right: 0.4em;
    border-right: none;
}

div.horiz-columns > div:first-child
{
    margin-left: 0em;
    padding-left: 0.2em;
    border-left: none;
}

div.horiz-columns > div:last-child
{
    padding-right: 0.2em;
    flex-grow: 1;
}

.add-tag-sub-form
{
    margin: 0.2em;
    padding: 0.2em;
    border: solid 2px darkgray;
    background-color: lightgray;
}

.tag
{
    background-color: plum;
    border: solid 1px rebeccapurple;
    border-radius: 0.6em;
    padding: 0.3em;
    margin: 0.3em;
    color: black !important;
    display: inline-block;
}

.add-tag
{
    background-color: lightgreen;
    border: solid 1px green;
}

.remove-tag
{
    background-color: orangered;
    border: solid 1px red;
}

.existing-tag
{
    background-color: lightgray;
    border: solid 1px darkgrey;
}
